<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogFile="C:\Temp\internal-nlog.txt"
      internalLogToConsole="false"
      internalLogLevel="Info"
      >
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="WebService"
             name="Splunk"
             protocol="JsonPost"
             encoding="utf-8"
             preAuthenticate="true">

      <!--<header name='Authorization' layout='Splunk 776e2a02-a652-475d-b78a-bf4ef01e8708' />-->

      <!-- 
    OR from config
    <header name='Authorization' layout='Splunk ${configsetting:name=Splunk.Token}' />
    -->
      <parameter name='sourcetype' layout='_json'/>
      <parameter name="event">
        <layout xsi:type="JsonLayout">
          <attribute name="Exception" encode="false" layout="${exception:format=@}" />
          <attribute name="Logger" layout="${logger}" />
          <attribute name="Level" layout="${level}"/>
          <attribute name="Date" layout="${longdate}"/>
          <attribute name="Message" layout="${message}"/>
          <attribute name="Application" layout="${gdc:item=application}"/>
          <attribute name="Environment" layout="${gdc:item=environment}"/>
        </layout>
      </parameter>
    </target>
  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="Microsoft.*" maxlevel="Warn" final="true" />  <!--Suppress all Microsoft Trace, Debug, Info, Warn Messages-->
    <logger name="*" minlevel="Info" writeTo="Splunk" />
  </rules>
</nlog>